
.title {
font-size: 80px;
font-family: Helvetica, sans-serif;
color: red;
}

#body {
padding: 30px;
}

p.intro {
	font-size: 20px;
	color: green;
	font-family: Helvetica, sans-serif;
}

ol.list {
	font-size: 16px;
	color: green;
	font-family: Helvetica, sans-serif;

}
