
.title {
font-size: 60px;
font-family: Helvetica, sans-serif;
color: green;
}

#body {
padding: 30px;
}

p.intro {
	font-size: 20px;
	color: green;
	font-family: Helvetica, sans-serif;
}

ol.list {
	font-size: 12px;
	color: green;
	font-family: Helvetica, sans-serif;

}
